/* CSS files add styling rules to your content */

/* .crosshair {cursor: crosshair;} */

body {
  font-family: helvetica, arial, sans-serif;
  margin: 2em;
  font-family: Times, serif;
font-size: 2.75vw;
line-height: 110%;
font-weight: normal;
font-style: normal;
text-transform: lowercase;
word-wrap: break-word;
overflow-wrap: break-word;
cursor: crosshair;

}

h1 {
  font-style: italic;
  color: #000000;
  font-family: Times, serif;
font-size: 2.75vw;
line-height: 110%;
font-weight: normal;
font-style: normal;
text-transform: lowercase;
word-wrap: break-word;
overflow-wrap: break-word;
cursor: crosshair;
}


/* .color img{
  filter: grayscale(100%);
  -webkit-filter: grayscale(100%);
  -webkit-transition: all 1s ease;
  }
  
  .color img:hover{
  filter: grayscale(0%);
  filter: gray;
  -webkit-filter: grayscale(0%);
  filter: none;
  transition: 1s ease;
  } */
  
  div img {
    transition: all 0.3s;
    -webkit-transition: all 0.3s;
    -moz-transition: all 0.3s;
  }
  div img {
    height: 220px;
    /* width: 250px; */
    float: right;
    filter: grayscale(100%);
    -webkit-filter: grayscale(100%);
    -moz-filter: grayscale(100%);
  }
  div img:hover {
    filter: grayscale(0%);
    -webkit-filter: grayscale(0%);
    -moz-filter: grayscale(0%);
    transform: scale(1.1);
    -webkit-transform: scale(1.1);
    -moz-transform: scale(1.5);
  }


.toggle_collapse {
  /* make it show to work across all ua's */  
  display:block; 
}

.toggle_collapse, /* hide off screen */
.toggle_collapse + *  .collapseAfter ~ * {
	position:absolute;
	top:-999em;
	left:-999em;
}

.toggle_collapse:checked + *  .collapseAfter ~ * {
  position:static;
}

.toggle_collapse + * + label {
  display:inline-block; /* make visible for screen media */
  color:blue;
}

.toggle_collapse + * + label:before {
	content:"Archive";
}

.toggle_collapse:checked + * + label:before {
	content:"See Less";
}

.toggle_collapse + * + label:after {
	content:"\25BC";
	display:inline-block;
	padding:0.4em 0 0 0.3em;
	vertical-align:top;
	font-size:0.625em;
}

.toggle_collapse:checked + * + label:after {
	content:"\25B2";
}

::selection {
  background: #e74c3c;
  text-shadow: 1px 1px 0 #27ae60;
}